name: Spockbench tests
run-name: Running Spockbench
on: [push]

permissions:
  contents: read

jobs:
  pull-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        pgver: [15, 16, 17]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout spock
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Checkout spockbench
        uses: actions/checkout@v4
        with:
          repository: pgedge/spockbench
          token: ${{ secrets.READ_SPOCKBENCH_PAT }}
          path: spockbench
          ref: master

      - name: Add permissions
        run: |
          sudo chmod -R a+w ${GITHUB_WORKSPACE}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Set up docker compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Start docker
        run: |
          cd ${GITHUB_WORKSPACE}/tests/
          echo PG_VER=${{ matrix.pgver }} >> pgedge.env
          docker build --build-arg PGVER=${{ matrix.pgver }} -t spock -f Dockerfile.el9 .
          docker compose up

      - name: Check spockbench output
        run: |
          bad_containers=$(docker ps -a --format json | jq -s '[.[] | select(.ExitCode != 0)] | length')
          if [ "$bad_containers" -ne 0 ]; then
            echo "FAIL: $bad_containers container(s) exited with non-zero code"
            docker ps -a
            exit 1
          fi

