name: Spockbench tests
run-name: Running Spockbench
on: [push]

permissions:
  contents: read

jobs:
  pull-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        pgver: [15, 16, 17]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout spock
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Checkout spockbench
        uses: actions/checkout@v4
        with:
          repository: pgedge/spockbench
          token: ${{ secrets.READ_SPOCKBENCH_PAT }}
          path: spockbench
          ref: master

      - name: Add permissions
        run: |
          sudo chmod -R a+w ${GITHUB_WORKSPACE}

      - name: Set up Docker
        uses: docker/setup-buildx-action@b5ca514

      - name: Set up docker compose
        uses: docker/setup-compose-action@364cc21
        with:
          version: latest

      - name: Start docker
        run: |
          cd ${GITHUB_WORKSPACE}/tests/
          echo PG_VER=${{ matrix.pgver }} >> pgedge.env
          docker build --build-arg PGVER=${{ matrix.pgver }} -t spock -f Dockerfile.el9 .
          docker compose up

      - name: Check spockbench output
        run: |
          cd ${GITHUB_WORKSPACE}/tests/
          ./check-outputs.sh

